WEB_SCRAPING-4

In [1]:
#!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [13]:
import selenium 
from selenium import webdriver

In [14]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [15]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/'

In [16]:
driver.get(url)

In [17]:
driver.maximize_window()

NO LIST WAS AVAILABLE IN THE GIVEN URL.
SCRAPING THE SEARCH BUTTON AND SENDING THE KEYS THROUGH CODE.

In [18]:
search_column=driver.find_element_by_xpath("//input[@class='vector-search-box-input']")
search_column.send_keys('most viewed youtube videos')

In [19]:
search_button=driver.find_element_by_xpath("//input[@class='searchButton']")
search_button.click()

In [24]:
#creating a function to scrape text from a list
def scrape_text(web_el):
    list=[]
    for i in web_el:
        list.append(i.text)
    return list

In [21]:
#scraping all the raw data on the list of videos to be filtered later
elements=driver.find_elements_by_xpath('//td')
elements[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e2e15f1a0a7fdbb8de6a8641c58f70b9", element="46b8379f-de57-4fa7-a5f8-f8a5bc3a3c37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e2e15f1a0a7fdbb8de6a8641c58f70b9", element="41893025-6c7d-4015-9e4c-77b03e3ded65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e2e15f1a0a7fdbb8de6a8641c58f70b9", element="b4c77387-e4a0-468a-b934-a2d60378a83a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e2e15f1a0a7fdbb8de6a8641c58f70b9", element="6c6de47b-16f6-4ddc-80a6-1a82be3c49d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e2e15f1a0a7fdbb8de6a8641c58f70b9", element="e7b82952-ab39-480b-8e80-270bccf2675b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e2e15f1a0a7fdbb8de6a8641c58f70b9", element="f74584df-d46f-4dab-8015-6abbaa87c25f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e2e15f1a0a7fdbb8de6a8641c58f70b9", element="00b1bf96-3124-43b1-aa65-c3e6afd48f2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e2e15f1a0a7fdbb8de6a8641c58f70b9", element="8adf321a-c302-41f8-a82b-a81325f92207")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e2e15f1a0a7fdbb8de6a8641c58f70b9", element="48fa674b-2c90-4bb1-8cfc-ac2b9d4dac86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e2e15f1a0a7fdbb8de6a8641c58f70b9", element="86236237-ac63-45a5-8486-07e58ccc0548")>]

In [29]:
#scraping text from the web_elements
unfiltered=scrape_text(elements[8:188])
unfiltered

['1.',
 '"Baby Shark Dance"[23]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '9.44',
 'June 17, 2016',
 '[B]',
 '2.',
 '"Despacito"[25]',
 'Luis Fonsi',
 '7.57',
 'January 12, 2017',
 '[C]',
 '3.',
 '"Johny Johny Yes Papa"[26]',
 'LooLoo Kids',
 '5.77',
 'October 8, 2016',
 '[D]',
 '4.',
 '"Shape of You"[27]',
 'Ed Sheeran',
 '5.48',
 'January 30, 2017',
 '[E]',
 '5.',
 '"See You Again"[28]',
 'Wiz Khalifa',
 '5.28',
 'April 6, 2015',
 '[F]',
 '6.',
 '"Bath Song"[31]',
 'Cocomelon – Nursery Rhymes',
 '4.55',
 'May 2, 2018',
 '[G]',
 '7.',
 '"Learning Colors – Colorful Eggs on a Farm"[32]',
 'Miroshka TV',
 '4.52',
 'February 27, 2018',
 '[H]',
 '8.',
 '"Masha and the Bear – Recipe for Disaster"[33]',
 'Get Movies',
 '4.46',
 'January 31, 2012',
 '[I]',
 '9.',
 '"Uptown Funk"[34]',
 'Mark Ronson',
 '4.32',
 'November 19, 2014',
 '[J]',
 '10.',
 '"Phonics Song with Two Words"[35]',
 'ChuChu TV',
 '4.22',
 'March 6, 2014',
 '',
 '11.',
 '"Gangnam Style"[36]',
 'Psy',
 '4.21',
 'July 15, 2012',
 '[K]',
 '12.',
 '"Dame Tu Cosita"[38]',
 'El Chombo',
 '3.63',
 'April 5, 2018',
 '',
 '13.',
 '"Sugar"[39]',
 'Maroon 5',
 '3.56',
 'January 14, 2015',
 '',
 '14.',
 '"Sorry"[40]',
 'Justin Bieber',
 '3.47',
 'October 22, 2015',
 '',
 '15.',
 '"Roar"[41]',
 'Katy Perry',
 '3.44',
 'September 5, 2013',
 '',
 '16.',
 '"Counting Stars"[42]',
 'OneRepublic',
 '3.41',
 'May 31, 2013',
 '',
 '17.',
 '"Thinking Out Loud"[43]',
 'Ed Sheeran',
 '3.34',
 'October 7, 2014',
 '',
 '18.',
 '"Wheels on the Bus"[44]',
 'Cocomelon – Nursery Rhymes',
 '3.29',
 'May 24, 2018',
 '',
 '19.',
 '"Dark Horse"[45]',
 'Katy Perry',
 '3.15',
 'February 20, 2014',
 '',
 '20.',
 '"Faded"[46]',
 'Alan Walker',
 '3.15',
 'December 3, 2015',
 '',
 '21.',
 '"Girls Like You"[47]',
 'Maroon 5',
 '3.14',
 'May 31, 2018',
 '',
 '22.',
 '"Lean On"[48]',
 'Major Lazer',
 '3.10',
 'March 22, 2015',
 '',
 '23.',
 '"Bailando"[49]',
 'Enrique Iglesias',
 '3.10',
 'April 11, 2014',
 '',
 '24.',
 '"Shake It Off"[50]',
 'Taylor Swift',
 '3.10',
 'August 18, 2014',
 '',
 '25.',
 '"Let Her Go"[51]',
 'Passenger',
 '3.09',
 'July 25, 2012',
 '',
 '26.',
 '"Axel F"[52]',
 'Crazy Frog',
 '3.03',
 'June 16, 2009',
 '',
 '27.',
 '"Mi Gente"[53]',
 'J Balvin',
 '2.99',
 'June 29, 2017',
 '',
 '28.',
 '"Perfect"[54]',
 'Ed Sheeran',
 '2.97',
 'November 9, 2017',
 '',
 '29.',
 '"Waka Waka (This Time for Africa)"[55]',
 'Shakira',
 '2.96',
 'June 4, 2010',
 '',
 '30.',
 '"Hello"[56]',
 'Adele',
 '2.89',
 'October 22, 2015',
 '']

In [32]:
name=[]
for i in range(1,len(unfiltered),6):
               name.append(unfiltered[i])
name

['"Baby Shark Dance"[23]',
 '"Despacito"[25]',
 '"Johny Johny Yes Papa"[26]',
 '"Shape of You"[27]',
 '"See You Again"[28]',
 '"Bath Song"[31]',
 '"Learning Colors – Colorful Eggs on a Farm"[32]',
 '"Masha and the Bear – Recipe for Disaster"[33]',
 '"Uptown Funk"[34]',
 '"Phonics Song with Two Words"[35]',
 '"Gangnam Style"[36]',
 '"Dame Tu Cosita"[38]',
 '"Sugar"[39]',
 '"Sorry"[40]',
 '"Roar"[41]',
 '"Counting Stars"[42]',
 '"Thinking Out Loud"[43]',
 '"Wheels on the Bus"[44]',
 '"Dark Horse"[45]',
 '"Faded"[46]',
 '"Girls Like You"[47]',
 '"Lean On"[48]',
 '"Bailando"[49]',
 '"Shake It Off"[50]',
 '"Let Her Go"[51]',
 '"Axel F"[52]',
 '"Mi Gente"[53]',
 '"Perfect"[54]',
 '"Waka Waka (This Time for Africa)"[55]',
 '"Hello"[56]']

In [33]:
uploader=[]
for i in range(2,len(unfiltered),6):
               uploader.append(unfiltered[i])
        
uploader

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'Miroshka TV',
 'Get Movies',
 'Mark Ronson',
 'ChuChu TV',
 'Psy',
 'El Chombo',
 'Maroon 5',
 'Justin Bieber',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Alan Walker',
 'Maroon 5',
 'Major Lazer',
 'Enrique Iglesias',
 'Taylor Swift',
 'Passenger',
 'Crazy Frog',
 'J Balvin',
 'Ed Sheeran',
 'Shakira',
 'Adele']

In [34]:
views=[]
for i in range(3,len(unfiltered),6):
               views.append(unfiltered[i])
        
views

['9.44',
 '7.57',
 '5.77',
 '5.48',
 '5.28',
 '4.55',
 '4.52',
 '4.46',
 '4.32',
 '4.22',
 '4.21',
 '3.63',
 '3.56',
 '3.47',
 '3.44',
 '3.41',
 '3.34',
 '3.29',
 '3.15',
 '3.15',
 '3.14',
 '3.10',
 '3.10',
 '3.10',
 '3.09',
 '3.03',
 '2.99',
 '2.97',
 '2.96',
 '2.89']

In [36]:
date=[]
for i in range(4,len(unfiltered),6):
               date.append(unfiltered[i])
        
date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'May 2, 2018',
 'February 27, 2018',
 'January 31, 2012',
 'November 19, 2014',
 'March 6, 2014',
 'July 15, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'October 22, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'May 24, 2018',
 'February 20, 2014',
 'December 3, 2015',
 'May 31, 2018',
 'March 22, 2015',
 'April 11, 2014',
 'August 18, 2014',
 'July 25, 2012',
 'June 16, 2009',
 'June 29, 2017',
 'November 9, 2017',
 'June 4, 2010',
 'October 22, 2015']

fitting the scraped data into dataframe

In [37]:
import pandas as pd
most_viewed_youtube=pd.DataFrame()

most_viewed_youtube['RANK']=range(1,31)
most_viewed_youtube['VIDEO_NAME']=name
most_viewed_youtube['UPLOADER/ARTIST']=uploader
most_viewed_youtube['VIEWS(BILLIONS)']=views
most_viewed_youtube['UPLOAD_DATE']=date
most_viewed_youtube.set_index('RANK',inplace=True)
most_viewed_youtube

,VIDEO_NAME,UPLOADER/ARTIST,VIEWS(BILLIONS),UPLOAD_DATE
RANK,,,,
1,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9.44,"June 17, 2016"
2,"""Despacito""[25]",Luis Fonsi,7.57,"January 12, 2017"
3,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.77,"October 8, 2016"
4,"""Shape of You""[27]",Ed Sheeran,5.48,"January 30, 2017"
5,"""See You Again""[28]",Wiz Khalifa,5.28,"April 6, 2015"
6,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.55,"May 2, 2018"
7,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.52,"February 27, 2018"
8,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4.46,"January 31, 2012"
9,"""Uptown Funk""[34]",Mark Ronson,4.32,"November 19, 2014"
10,"""Phonics Song with Two Words""[35]",ChuChu TV,4.22,"March 6, 2014"
11,"""Gangnam Style""[36]",Psy,4.21,"July 15, 2012"
12,"""Dame Tu Cosita""[38]",El Chombo,3.63,"April 5, 2018"
13,"""Sugar""[39]",Maroon 5,3.56,"January 14, 2015"
14,"""Sorry""[40]",Justin Bieber,3.47,"October 22, 2015"
15,"""Roar""[41]",Katy Perry,3.44,"September 5, 2013"
16,"""Counting Stars""[42]",OneRepublic,3.41,"May 31, 2013"
17,"""Thinking Out Loud""[43]",Ed Sheeran,3.34,"October 7, 2014"
18,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3.29,"May 24, 2018"
19,"""Dark Horse""[45]",Katy Perry,3.15,"February 20, 2014"
20,"""Faded""[46]",Alan Walker,3.15,"December 3, 2015"
21,"""Girls Like You""[47]",Maroon 5,3.14,"May 31, 2018"
22,"""Lean On""[48]",Major Lazer,3.10,"March 22, 2015"
23,"""Bailando""[49]",Enrique Iglesias,3.10,"April 11, 2014"
24,"""Shake It Off""[50]",Taylor Swift,3.10,"August 18, 2014"
25,"""Let Her Go""[51]",Passenger,3.09,"July 25, 2012"
26,"""Axel F""[52]",Crazy Frog,3.03,"June 16, 2009"
27,"""Mi Gente""[53]",J Balvin,2.99,"June 29, 2017"
28,"""Perfect""[54]",Ed Sheeran,2.97,"November 9, 2017"
29,"""Waka Waka (This Time for Africa)""[55]",Shakira,2.96,"June 4, 2010"
30,"""Hello""[56]",Adele,2.89,"October 22, 2015"

FINAL DATAFRAME-1

QUESTION-2

Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [38]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [39]:
url='https://www.bcci.tv/'
driver.get(url)

In [41]:
international=driver.find_elements_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
international[0].click()

In [42]:
try:

    fixtures=driver.find_elements_by_xpath("//li[@class='drop-down__option  ']/a")
    fixture_url=fixtures[0].get_attribute('href')
except NoSuchElementException:
    print("exception_raised")

In [44]:
driver.get(fixture_url)

In [51]:
#creating a function to get text from a list:
def get_text(web_el):
    list=[]
    for i in web_el:
        list.append(i.text.replace("\n",""))
    return list

In [46]:
try:
    title_el=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
    match_title=get_text(title_el)
    match_title
except NoSuchElementException:
    print("exception raised")

In [49]:
try:
    series_el=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
    series=get_text(series_el)
    print(series)
except NoSuchElementException:
    print("exception raised")

["2021 ICC MEN'S T20 WORLD CUP", "2021 ICC MEN'S T20 WORLD CUP", "2021 ICC MEN'S T20 WORLD CUP", "2021 ICC MEN'S T20 WORLD CUP", "2021 ICC MEN'S T20 WORLD CUP", 'INDIA V NEW ZEALAND 2021', 'INDIA V NEW ZEALAND 2021', 'INDIA V NEW ZEALAND 2021', 'INDIA V NEW ZEALAND 2021', 'INDIA V NEW ZEALAND 2021', 'SOUTH AFRICA V INDIA 2021/2022', 'SOUTH AFRICA V INDIA 2021/2022', 'SOUTH AFRICA V INDIA 2021/2022', 'SOUTH AFRICA V INDIA 2021/2022', 'SOUTH AFRICA V INDIA 2021/2022', 'SOUTH AFRICA V INDIA 2021/2022', 'SOUTH AFRICA V INDIA 2021/2022', 'SOUTH AFRICA V INDIA 2021/2022', 'SOUTH AFRICA V INDIA 2021/2022', 'SOUTH AFRICA V INDIA 2021/2022']

In [54]:
try:
    date_el=driver.find_elements_by_xpath("//span[@class='fixture__date']")
    date=get_text(date_el)
    print(date)
except NoSuchElementException:
    print("exception raised")

['24', '31', '03', '05', '08', '17', '19', '21', '25', '03', '17', '26', '03', '11', '14', '16', '19', '21', '23', '26']

In [55]:
try:
    month_el=driver.find_elements_by_xpath("//span[@class='fixture__month']")
    month=get_text(month_el)
    print(month)
except NoSuchElementException:
    print("exception raised")

['OCTOBER', 'OCTOBER', 'NOVEMBER', 'NOVEMBER', 'NOVEMBER', 'NOVEMBER', 'NOVEMBER', 'NOVEMBER', 'NOVEMBER', 'DECEMBER', 'DECEMBER', 'DECEMBER', 'JANUARY', 'JANUARY', 'JANUARY', 'JANUARY', 'JANUARY', 'JANUARY', 'JANUARY', 'JANUARY']

In [56]:
try:
    time_el=driver.find_elements_by_xpath("//span[@class='fixture__time']")
    time=get_text(time_el)
    print(time)
except NoSuchElementException:
    print("exception raised")

['19:30 IST', '19:30 IST', '19:30 IST', '19:30 IST', '19:30 IST', '19:00 IST', '19:00 IST', '19:00 IST', '09:30 IST', '09:30 IST', '13:30 IST', '13:30 IST', '13:30 IST', '14:00 IST', '14:00 IST', '14:00 IST', '19:30 IST', '19:30 IST', '19:30 IST', '19:30 IST']

In [57]:
try:
    venue_el=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
    venue=get_text(venue_el)
    print(venue)
except NoSuchElementException:
    print("exception raised")

['Dubai International Stadium, Dubai', 'Dubai International Stadium, Dubai', 'Zayed Cricket Stadium, Abu Dhabi', 'Dubai International Stadium, Dubai', 'Dubai International Stadium, Dubai', 'Sawai Mansingh Stadium, Jaipur', 'JSCA International Stadium Complex, Ranchi', 'Eden Gardens, Kolkata', 'Green Park, Kanpur', 'Wankhede Stadium, Mumbai', 'New Wanderers Stadium, Johannesburg', 'Supersport Park, Centurion', 'New Wanderers Stadium, Johannesburg', 'Boland Park, Paarl', 'Newlands, Cape Town', 'Newlands, Cape Town', 'Newlands, Cape Town', 'Newlands, Cape Town', 'Boland Park, Paarl', 'Boland Park, Paarl']

In [59]:
full_date=[]
for i in range(0,len(month)):
    full_date.append(date[i]+" "+month[i])
full_date

['24 OCTOBER',
 '31 OCTOBER',
 '03 NOVEMBER',
 '05 NOVEMBER',
 '08 NOVEMBER',
 '17 NOVEMBER',
 '19 NOVEMBER',
 '21 NOVEMBER',
 '25 NOVEMBER',
 '03 DECEMBER',
 '17 DECEMBER',
 '26 DECEMBER',
 '03 JANUARY',
 '11 JANUARY',
 '14 JANUARY',
 '16 JANUARY',
 '19 JANUARY',
 '21 JANUARY',
 '23 JANUARY',
 '26 JANUARY']

Creating dataframe for the scraped data

In [60]:
bcci=pd.DataFrame()
bcci['MATCH_TITLE']=match_title
bcci['DATE']=full_date
bcci['TIME']=time
bcci['SERIES']=series
bcci['VENUE']=venue
bcci

,MATCH_TITLE,DATE,TIME,SERIES,VENUE
0,Match 16,24 OCTOBER,19:30 IST,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai"
1,Match 28,31 OCTOBER,19:30 IST,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai"
2,Match 33,03 NOVEMBER,19:30 IST,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi"
3,Match 37,05 NOVEMBER,19:30 IST,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai"
4,Match 42,08 NOVEMBER,19:30 IST,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai"
5,1st T20I,17 NOVEMBER,19:00 IST,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur"
6,2nd T20I,19 NOVEMBER,19:00 IST,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi"
7,3rd T20I,21 NOVEMBER,19:00 IST,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata"
8,1st Test,25 NOVEMBER,09:30 IST,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur"
9,2nd Test,03 DECEMBER,09:30 IST,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai"
10,1st Test,17 DECEMBER,13:30 IST,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg"
11,2nd Test,26 DECEMBER,13:30 IST,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion"
12,3rd Test,03 JANUARY,13:30 IST,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg"
13,1st ODI,11 JANUARY,14:00 IST,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl"
14,2nd ODI,14 JANUARY,14:00 IST,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town"
15,3rd ODI,16 JANUARY,14:00 IST,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town"
16,1st T20I,19 JANUARY,19:30 IST,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town"
17,2nd T20I,21 JANUARY,19:30 IST,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town"
18,3rd T20I,23 JANUARY,19:30 IST,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl"
19,4th T20I,26 JANUARY,19:30 IST,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl"

QUESTION-3
Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [61]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [62]:
url='https://www.guru99.com/'
driver.get(url)

In [63]:
selenium_column=driver.find_elements_by_xpath("//li[@style='width:100%;']/a")

In [64]:
#creating a function to get text from a list:
def get_text(web_el):
    list=[]
    for i in web_el:
        list.append(i.text.replace("\n",""))
    return list

In [78]:
try:
    selenium=selenium_column[2].get_attribute('href')
    driver.get(selenium)
except:
    print("exception raised")

In [79]:
driver.maximize_window()

In [82]:
from selenium.common.exceptions import NoSuchElementException

In [84]:
try:
    
    sel_=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
    sel=sel_.get_attribute('href')
    driver.get(sel)
except NoSuchElementException:
    print("exception raised")

In [86]:
try:
    exception_el=driver.find_elements_by_xpath("//tr/td")
    exception=get_text(exception_el)
except NoSuchElementException:
    print("exception raised")

In [90]:
name=[]
for i in range(0,len(exception),2):
    name.append(exception[i])
des=[]
for j in range(1,len(exception),2):
    des.append(exception[j])

In [91]:
name

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

CREATING DATAFRAME FOR THE SCRAPED DATA

In [92]:
exception=pd.DataFrame()
exception['EXCEPTION_NAME']=name
exception['DESCRIPTION']=des
exception['INDEX']=range(1,len(name)+1)
exception.set_index('INDEX',inplace=True)
exception

,EXCEPTION_NAME,DESCRIPTION
INDEX,,
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

QUESTION-4
Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [93]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [94]:
url='http://statisticstimes.com/'
driver.get(url)

In [96]:
eco_btn=driver.find_elements_by_xpath("//button[@class='dropbtn']")
eco_btn[1].click()

In [97]:
#creating a function to get text from a list:
def get_text(web_el):
    list=[]
    for i in web_el:
        list.append(i.text.replace("\n",""))
    return list

In [102]:
country_el=driver.find_elements_by_xpath("//div[@class='dropdown-content']/a")

In [103]:
country_url=''
for i in country_el:
    if(i.text=='India'):
        country_url=i.get_attribute('href')
country_url

'https://statisticstimes.com/economy/india-statistics.php'

In [104]:
driver.get(country_url)

In [105]:
states_el=driver.find_elements_by_xpath("//li/a")

In [107]:
states_url=''
for i in states_el:
    if(i.text=='» GDP of Indian states'):
        states_url=i.get_attribute('href')
states_url

'https://statisticstimes.com/economy/india/indian-states-gdp.php'

In [108]:
driver.get(states_url)

In [114]:
#now scraping the required data
try:
    rows_el=driver.find_elements_by_xpath("//tr[@role='row']/td")
    rows=get_text(rows_el)
except NoSuchElementException:
    print("exception raised")

In [116]:
rows[:265]

['1',
 'Maharashtra',
 '-',
 '2,632,792',
 '13.94%',
 '399.921',
 '-',
 '2,039,074',
 '2',
 'Tamil Nadu',
 '1,845,853',
 '1,630,208',
 '8.63%',
 '247.629',
 '1,312,929',
 '1,215,307',
 '3',
 'Uttar Pradesh',
 '1,687,818',
 '1,584,764',
 '8.39%',
 '240.726',
 '1,166,817',
 '1,123,982',
 '4',
 'Gujarat',
 '-',
 '1,502,899',
 '7.96%',
 '228.290',
 '-',
 '1,186,379',
 '5',
 'Karnataka',
 '1,631,977',
 '1,493,127',
 '7.91%',
 '226.806',
 '1,156,039',
 '1,091,077',
 '6',
 'West Bengal',
 '1,253,832',
 '1,089,898',
 '5.77%',
 '165.556',
 '793,223',
 '739,525',
 '7',
 'Rajasthan',
 '1,020,989',
 '942,586',
 '4.99%',
 '143.179',
 '711,627',
 '677,428',
 '8',
 'Andhra Pradesh',
 '972,782',
 '862,957',
 '4.57%',
 '131.083',
 '672,018',
 '621,301',
 '9',
 'Telangana',
 '969,604',
 '861,031',
 '4.56%',
 '130.791',
 '663,258',
 '612,828',
 '10',
 'Madhya Pradesh',
 '906,672',
 '809,592',
 '4.29%',
 '122.977',
 '561,801',
 '522,009',
 '11',
 'Kerala',
 '-',
 '781,653',
 '4.14%',
 '118.733',
 '-',
 '559,412',
 '12',
 'Delhi',
 '856,112',
 '774,870',
 '4.10%',
 '117.703',
 '634,408',
 '590,569',
 '13',
 'Haryana',
 '831,610',
 '734,163',
 '3.89%',
 '111.519',
 '572,240',
 '531,085',
 '14',
 'Bihar',
 '611,804',
 '530,363',
 '2.81%',
 '80.562',
 '414,977',
 '375,651',
 '15',
 'Punjab',
 '574,760',
 '526,376',
 '2.79%',
 '79.957',
 '418,868',
 '397,669',
 '16',
 'Odisha',
 '521,275',
 '487,805',
 '2.58%',
 '74.098',
 '396,499',
 '376,877',
 '17',
 'Assam',
 '-',
 '315,881',
 '1.67%',
 '47.982',
 '-',
 '234,048',
 '18',
 'Chhattisgarh',
 '329,180',
 '304,063',
 '1.61%',
 '46.187',
 '243,477',
 '231,182',
 '19',
 'Jharkhand',
 '328,598',
 '297,204',
 '1.57%',
 '45.145',
 '240,036',
 '224,986',
 '20',
 'Uttarakhand',
 '-',
 '245,895',
 '1.30%',
 '37.351',
 '-',
 '193,273',
 '21',
 'Jammu & Kashmir',
 '-',
 '155,956',
 '0.83%',
 '23.690',
 '-',
 '112,755',
 '22',
 'Himachal Pradesh',
 '165,472',
 '153,845',
 '0.81%',
 '23.369',
 '124,403',
 '117,851',
 '23',
 'Goa',
 '80,449',
 '73,170',
 '0.39%',
 '11.115',
 '63,408',
 '57,787',
 '24',
 'Tripura',
 '55,984',
 '49,845',
 '0.26%',
 '7.571',
 '40,583',
 '36,963',
 '25',
 'Chandigarh',
 '-',
 '42,114',
 '0.22%',
 '6.397',
 '-',
 '31,192',
 '26',
 'Puducherry',
 '38,253',
 '34,433',
 '0.18%',
 '5.230',
 '25,093',
 '23,013',
 '27',
 'Meghalaya',
 '36,572',
 '33,481',
 '0.18%',
 '5.086',
 '26,695',
 '24,682',
 '28',
 'Sikkim',
 '32,496',
 '28,723',
 '0.15%',
 '4.363',
 '20,017',
 '18,722',
 '29',
 'Manipur',
 '31,790',
 '27,870',
 '0.15%',
 '4.233',
 '20,673',
 '19,300',
 '30',
 'Nagaland',
 '-',
 '27,283',
 '0.14%',
 '4.144',
 '-',
 '17,647',
 '31',
 'Arunachal Pradesh',
 '-',
 '24,603',
 '0.13%',
 '3.737',
 '-',
 '16,676',
 '32',
 'Mizoram',
 '26,503',
 '22,287',
 '0.12%',
 '3.385',
 '18,797',
 '16,478',
 '33',
 'Andaman & Nicobar Islands',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '1']

FILTERING THE DATA COLUMN-WISE

In [117]:
rank=[]
for i in range(0,len(rows[:264]),8):
    rank.append(rows[i])
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [119]:
#filtering state name
state=[]
for i in range(1,len(rows[:264]),8):
    state.append(rows[i])
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [120]:
gsdp1920=[]
for i in range(2,len(rows[:264]),8):
    gsdp1920.append(rows[i])
gsdp1920

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [122]:
gsdp1819=[]
for i in range(3,len(rows[:264]),8):
    gsdp1819.append(rows[i])
gsdp1819

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [123]:
gdp=[]
for i in range(5,len(rows[:264]),8):
    gdp.append(rows[i])
gdp

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [124]:
share=[]
for i in range(4,len(rows[:264]),8):
    share.append(rows[i])
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

CREATING A DATAFRAME FOR THE SCRAPED DATA

In [125]:
state_gdp=pd.DataFrame()
state_gdp['RANK']=rank
state_gdp['State']=state
state_gdp[' GSDP at current price (19-20)']=gsdp1920
state_gdp['GSDP at current price (18-19)']=gsdp1819
state_gdp['Share(18-19)']=share
state_gdp['GDP($ billion)']=gdp
state_gdp.set_index('RANK',inplace=True)
state_gdp

,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
RANK,,,,,
1,Maharashtra,-,"2,632,792",13.94%,399.921
2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
4,Gujarat,-,"1,502,899",7.96%,228.290
5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
7,Rajasthan,"1,020,989","942,586",4.99%,143.179
8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
9,Telangana,"969,604","861,031",4.56%,130.791
10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
11,Kerala,-,"781,653",4.14%,118.733
12,Delhi,"856,112","774,870",4.10%,117.703
13,Haryana,"831,610","734,163",3.89%,111.519
14,Bihar,"611,804","530,363",2.81%,80.562
15,Punjab,"574,760","526,376",2.79%,79.957
16,Odisha,"521,275","487,805",2.58%,74.098
17,Assam,-,"315,881",1.67%,47.982
18,Chhattisgarh,"329,180","304,063",1.61%,46.187
19,Jharkhand,"328,598","297,204",1.57%,45.145
20,Uttarakhand,-,"245,895",1.30%,37.351
21,Jammu & Kashmir,-,"155,956",0.83%,23.690
22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
23,Goa,"80,449","73,170",0.39%,11.115
24,Tripura,"55,984","49,845",0.26%,7.571
25,Chandigarh,-,"42,114",0.22%,6.397
26,Puducherry,"38,253","34,433",0.18%,5.230
27,Meghalaya,"36,572","33,481",0.18%,5.086
28,Sikkim,"32,496","28,723",0.15%,4.363
29,Manipur,"31,790","27,870",0.15%,4.233
30,Nagaland,-,"27,283",0.14%,4.144
31,Arunachal Pradesh,-,"24,603",0.13%,3.737
32,Mizoram,"26,503","22,287",0.12%,3.385
33,Andaman & Nicobar Islands,-,-,-,-

FINAL DATAFRAME

QUESTION-5

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [1]:
import selenium
from selenium import webdriver

In [2]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [3]:
url='https://github.com/'
driver.get(url)

In [4]:
driver.maximize_window()

In [5]:
explore_btn=driver.find_elements_by_xpath("//summary[@class='HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block']")
explore_btn

[<selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="e293b5ec-940f-4774-8400-45facf05ce52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="e7b279a5-b0ec-42a5-b7d1-44deaa3bd88f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="3ba1813a-22d6-4e4b-93dd-d645074ab874")>]

In [7]:
explore_btn[1].click()

In [15]:
trending=driver.find_elements_by_xpath("//a[@class='py-2 lh-condensed-ultra d-block Link--secondary no-underline f5 Bump-link--hover']")
trending

[<selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="7be4cf2f-5ed3-46ee-9570-e7f85b93f7f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="27c32178-f227-4e0c-9629-8319d7867089")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="9b33abec-8b8d-4c75-96f5-da73699ee893")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="efa47bb0-c7fe-4253-99de-2110cb8cc764")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="2b57ffca-21e9-4f51-8aca-5b03bf533046")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="1ece466c-1b64-4526-af0c-593667c29e89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="f93eff6a-d141-4bee-bbe5-615d44d5246d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="2b991466-ad01-48eb-bc26-7b5057b97b07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="9f1e2c1b-fafb-40f5-9cd6-0928b745f9d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="131f490c-ca11-4128-b122-19909403437b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="ad0a59be-0dcc-4646-b78e-07b4ce4b425c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="b3848b7b-28e7-43c0-932a-df1551062882")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="dc242b88-85d0-48e0-b087-2553a496b20b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="2d475fd6-cbbd-4786-9620-afd74cdb8ece")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="3977850c-7423-4b49-acad-017fcaa81b5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="9edef2ed-827e-4f52-aa79-de8c581be226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="16ea395b-3758-491f-a425-a9dd1bed3998")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="f3cba791-bcb2-4451-8799-301ddbd067ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="c1b45a87-6d5f-4c38-ac82-7c22c0aa4193")>]

In [16]:
#creating a function to get text from a list:
def get_text(web_el):
    list=[]
    for i in web_el:
        list.append(i.text.replace("\n",""))
    return list

In [18]:
url_trending=[]
for i in trending:
    url_trending.append(i.get_attribute('href'))
url_trending

['https://github.com/mobile',
 'https://github.com/features/actions',
 'https://github.com/features/codespaces',
 'https://github.com/features/packages',
 'https://github.com/features/security',
 'https://github.com/features/code-review/',
 'https://github.com/features/issues/',
 'https://github.com/features/integrations',
 'https://github.com/topics',
 'https://github.com/collections',
 'https://github.com/trending',
 'https://lab.github.com/',
 'https://opensource.guide/',
 'https://github.com/readme',
 'https://github.com/events',
 'https://github.community/',
 'https://education.github.com/',
 'https://github.com/pricing#feature-comparison',
 'https://github.com/enterprise/contact']

In [19]:
url_trending[10]

'https://github.com/trending'

In [21]:
try:
    driver.get(url_trending[10])
except:
    print("incorrect url")

In [23]:
from selenium.common.exceptions import NoSuchElementException

In [27]:
try:
    title_el=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
except:
    print("element not found")

In [28]:
title_el

[<selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="14794c37-4f8b-4a88-b49f-663777b0b87d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="9a73ab8f-c2c5-48da-b66f-618509ac4db5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="6794a3e1-0a36-4997-a12b-57f9738f781b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="2eedf886-3061-4861-9a23-f9e9d1ede28f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="7bbea0ce-5281-4cad-9f9f-0ad18b72e735")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="ba0d45dd-3a05-43c5-be9c-dd43b25f66e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="931df28e-4c03-470f-9140-67b712712925")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="2690d3b6-c26a-42e8-8f24-4126c446f989")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="453f67bf-e7ca-4f9c-814c-d6075af974b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="9c5af186-b5c1-4f6c-84ab-c64babd48317")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="caa0ef96-15b2-4828-8494-e6ff30ebbda2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="2c3decf5-6798-49d4-aa9e-efc2d3c259e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="4dcc6048-6c87-47cd-80f1-4c5d3a45d36a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="25980819-10e4-4c12-8647-2fe80ea55c77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="8bff9a45-5ccd-44c3-8673-8992ae523f8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="cc9dcbdd-04a2-45b4-b590-60307e33778b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="c3e9fcf3-30bc-4ba0-9dc4-d2fa002240d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="a5b8acf9-c88d-44e2-bed5-ae470189a1ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="fc34b7b0-b56e-4518-8239-7b6c80421dcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="e3f54d42-608f-4f1b-ab13-d2349a72ef40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="3a767174-48de-43ef-b354-73fc4d6b4381")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="2ea02a6d-36c0-41ed-a2a8-da7703b7b2d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="514b66ac-4cbb-48c0-853a-18cd9f4ecffb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="0086148d-fbcd-45ac-a720-a52fa03eba25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="c00c1b23-5c24-44c2-a26d-8084bbf6823c")>]

In [30]:
titles=get_text(title_el)
titles

['peng-zhihui / Dummy-Robot',
 'xinntao / Real-ESRGAN',
 'ckosmic / sm64ex-ios',
 'ethereum / ethereum-org-website',
 'WebDevSimplified / useful-custom-react-hooks',
 'trailofbits / algo',
 'trekhleb / promote-your-next-startup',
 'sdras / awesome-actions',
 'cobaltdisco / Google-Chinese-Results-Blocklist',
 'peng-zhihui / L-ink_Card',
 'iptv-org / iptv',
 'peng-zhihui / peng-zhihui.github.io',
 'valinet / ExplorerPatcher',
 'openwrt / openwrt',
 'zeromicro / go-zero',
 'ethereum / EIPs',
 'bitcoin / bitcoin',
 'github / docs',
 'goplus / gop',
 'jklepatch / eattheblocks',
 'filecoin-project / lotus',
 'bevyengine / bevy',
 'NationalSecurityAgency / ghidra',
 'golang / go',
 'raimohanska / ourboard']

In [31]:
try:
    des_el=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
    des_el
except NoSuchElementException as e:
    print("element not found",e)

In [33]:
description=get_text(des_el)
description

['我的超迷你机械臂机器人项目。',
 'Real-ESRGAN aims at developing Practical Algorithms for General Image Restoration.',
 'iOS port of https://github.com/sm64pc/sm64ex/',
 'Ethereum.org is a primary online resource for the Ethereum community.',
 'Set up a personal VPN in the cloud',
 '🚀 Free resources you may use to promote your next startup',
 'A curated list of awesome actions to use on GitHub',
 '我终于能用谷歌搜中文了……',
 'Smart NFC & ink-Display Card',
 'Collection of publicly available IPTV channels from all over the world',
 '稚晖的个人站',
 'This project aims to bring back a productive working environment on Windows 11.',
 'This repository is a mirror of https://git.openwrt.org/openwrt/openwrt.git It is for reference only and is not active for check-ins or for reporting issues. We will continue to accept Pull Requests here. They will be merged via staging trees then into openwrt.git. All issues should be reported at: https://bugs.openwrt.org',
 "go-zero is a web and rpc framework written in Go. It's born to ensure the stability of the busy sites with resilient design. Builtin goctl greatly improves the development productivity.",
 'The Ethereum Improvement Proposal repository',
 'Bitcoin Core integration/staging tree',
 'The open-source repo for docs.github.com',
 'GoPlus - The Go+ language for engineering, STEM education, and data science',
 'Source code for Eat The Blocks, a screencast for Ethereum Dapp Developers',
 'Implementation of the Filecoin protocol, written in Go',
 'A refreshingly simple data-driven game engine built in Rust',
 'Ghidra is a software reverse engineering (SRE) framework',
 'The Go programming language',
 'An online whiteboard']

In [38]:
try:
    lang_count_el=driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")
    
except NoSuchElementException as e:
    print("element not found",e)

In [39]:
lang_count=get_text(lang_count_el)
lang_count

['3,238',
 '390',
 '4,318',
 '371',
 '142',
 '12',
 '1,398',
 '1,473',
 '389',
 '130',
 '23,235',
 '1,923',
 '1,252',
 '117',
 '15,851',
 '1,011',
 '4,103',
 '157',
 '5,730',
 '1,384',
 '40,896',
 '3,608',
 '816',
 '117',
 '512',
 '21',
 '9,717',
 '6,302',
 '11,813',
 '1,388',
 '7,392',
 '2,840',
 '57,588',
 '30,137',
 '6,472',
 '27,606',
 '5,607',
 '402',
 '2,161',
 '1,849',
 '1,803',
 '894',
 '11,049',
 '950',
 '29,115',
 '3,808',
 '90,833',
 '13,399',
 '232',
 '14']

In [41]:
contributers=[]
for i in range(0,len(lang_count),2):
    contributers.append(lang_count[i])
contributers

['3,238',
 '4,318',
 '142',
 '1,398',
 '389',
 '23,235',
 '1,252',
 '15,851',
 '4,103',
 '5,730',
 '40,896',
 '816',
 '512',
 '9,717',
 '11,813',
 '7,392',
 '57,588',
 '6,472',
 '5,607',
 '2,161',
 '1,803',
 '11,049',
 '29,115',
 '90,833',
 '232']

In [42]:
try:
    lang=driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")
    
except NoSuchElementException as e:
    print("element not found",e)

In [44]:
language=get_text(lang)
language

['Python',
 'C',
 'JavaScript',
 'JavaScript',
 'Python',
 'C',
 'JavaScript',
 'HTML',
 'C',
 'C',
 'Go',
 'Solidity',
 'C++',
 'JavaScript',
 'Go',
 'JavaScript',
 'Go',
 'Rust',
 'Java',
 'Go',
 'TypeScript']

In [46]:
len(description)

24

In [47]:
try:
    raw=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']")
    
except NoSuchElementException as e:
    print("element not found",e)

[<selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="243ca0e6-0bef-4208-af93-a101d06afa05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="e5b90c39-fbe4-48c2-9005-bca1b4141f7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="5847206e-6d90-47eb-8ec7-fd81403eb09c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="2b3c211c-da2b-4327-8841-424a36bd5518")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="103f6bb6-1387-460b-9751-ca74daf17c84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="5b18dee7-3b96-4f79-b166-d6553488e869")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="f2005a8f-625c-4e1d-a847-212299ab3163")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="92e4a5e9-e7be-49e4-81ec-0eb7c5ae5a4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="85577c6d-49ae-4be9-884f-93c7685face4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="932ead61-8aaf-47bb-8cf7-222ac5e88173")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="2e7ac937-098d-482f-9049-70ab605083f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="1d3df456-94cb-46b5-9b7e-a98f90107fb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="bffba91a-d74a-44fa-99bb-467fb2f6df76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="6ff4e123-2225-402a-85a4-908911ef7121")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="9b90acf7-117e-41cc-a574-940249bedf2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="1f2c4e60-a6f8-4843-9755-9ccb333396da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="2fa46efd-7af5-451f-926f-a64392169299")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="2a8d60b2-32b3-4a56-bbaf-f68f5146a232")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="20041eee-4471-4597-a22a-e388856184d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="7036b52b-c0cc-4554-aaf1-533dd84728d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="361ba9d4-f243-4969-be34-2f6d30bc26d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="371ec470-79d1-4f48-81cb-9ff91fb90327")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="82757f88-cebe-4b1d-a533-06386f22df3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="01e13e2f-866a-4406-94ac-759599afdbec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ccec8728860c922f8180f1247a5849bb", element="64b89112-2d65-46bd-83d9-b77bd0021b83")>]

In [48]:
raw_=get_text(raw)
raw_

['3,238 390 Built by447 stars today',
 'Python 4,318 371 Built by320 stars today',
 'C 142 12 Built by21 stars today',
 'JavaScript 1,398 1,473 Built by4 stars today',
 'JavaScript 389 130 Built by17 stars today',
 'Python 23,235 1,923 Built by364 stars today',
 '1,252 117 Built by79 stars today',
 '15,851 1,011 Built by226 stars today',
 '4,103 157 Built by263 stars today',
 'C 5,730 1,384 Built by23 stars today',
 'JavaScript 40,896 3,608 Built by83 stars today',
 'HTML 816 117 Built by19 stars today',
 'C 512 21 Built by77 stars today',
 'C 9,717 6,302 Built by9 stars today',
 'Go 11,813 1,388 Built by32 stars today',
 'Solidity 7,392 2,840 Built by7 stars today',
 'C++ 57,588 30,137 Built by61 stars today',
 'JavaScript 6,472 27,606 Built by13 stars today',
 'Go 5,607 402 Built by38 stars today',
 'JavaScript 2,161 1,849 Built by5 stars today',
 'Go 1,803 894 Built by1 stars today',
 'Rust 11,049 950 Built by22 stars today',
 'Java 29,115 3,808 Built by8 stars today',
 'Go 90,833 13,399 Built by53 stars today',
 'TypeScript 232 14 Built by11 stars today']

SINCE THE LANGUAGE INFORMATION WAS NOT PRESENT FOR EVERY TITLE 
FILTERING IT FROM THE RAW DATA

In [53]:
filter1=[]
for i in raw_:
    filter1.append(i.split(" "))
filter1

[['3,238', '390', 'Built', 'by447', 'stars', 'today'],
 ['Python', '4,318', '371', 'Built', 'by320', 'stars', 'today'],
 ['C', '142', '12', 'Built', 'by21', 'stars', 'today'],
 ['JavaScript', '1,398', '1,473', 'Built', 'by4', 'stars', 'today'],
 ['JavaScript', '389', '130', 'Built', 'by17', 'stars', 'today'],
 ['Python', '23,235', '1,923', 'Built', 'by364', 'stars', 'today'],
 ['1,252', '117', 'Built', 'by79', 'stars', 'today'],
 ['15,851', '1,011', 'Built', 'by226', 'stars', 'today'],
 ['4,103', '157', 'Built', 'by263', 'stars', 'today'],
 ['C', '5,730', '1,384', 'Built', 'by23', 'stars', 'today'],
 ['JavaScript', '40,896', '3,608', 'Built', 'by83', 'stars', 'today'],
 ['HTML', '816', '117', 'Built', 'by19', 'stars', 'today'],
 ['C', '512', '21', 'Built', 'by77', 'stars', 'today'],
 ['C', '9,717', '6,302', 'Built', 'by9', 'stars', 'today'],
 ['Go', '11,813', '1,388', 'Built', 'by32', 'stars', 'today'],
 ['Solidity', '7,392', '2,840', 'Built', 'by7', 'stars', 'today'],
 ['C++', '57,588', '30,137', 'Built', 'by61', 'stars', 'today'],
 ['JavaScript', '6,472', '27,606', 'Built', 'by13', 'stars', 'today'],
 ['Go', '5,607', '402', 'Built', 'by38', 'stars', 'today'],
 ['JavaScript', '2,161', '1,849', 'Built', 'by5', 'stars', 'today'],
 ['Go', '1,803', '894', 'Built', 'by1', 'stars', 'today'],
 ['Rust', '11,049', '950', 'Built', 'by22', 'stars', 'today'],
 ['Java', '29,115', '3,808', 'Built', 'by8', 'stars', 'today'],
 ['Go', '90,833', '13,399', 'Built', 'by53', 'stars', 'today'],
 ['TypeScript', '232', '14', 'Built', 'by11', 'stars', 'today']]

In [57]:
len(filter1[0])

6

In [77]:
language_=[]
count=0
ini_count=count
for i in range(0,len(filter1)):
    for j in range(0,len(filter1[i])):
        
        if(len(filter1[i])==7)&(filter1[i][j]==contributers[i]):
            language_.append(language[count])
            count=count+1
        
    if(ini_count==count):
        language_.append("N/A")
    ini_count=count
language_

['N/A',
 'Python',
 'C',
 'JavaScript',
 'JavaScript',
 'Python',
 'N/A',
 'N/A',
 'N/A',
 'C',
 'JavaScript',
 'HTML',
 'C',
 'C',
 'Go',
 'Solidity',
 'C++',
 'JavaScript',
 'Go',
 'JavaScript',
 'Go',
 'Rust',
 'Java',
 'Go',
 'TypeScript']

In [79]:
try:
    box=driver.find_elements_by_xpath("//article[@class='Box-row']")
    
except NoSuchElementException as e:
    print("element not found",e)

In [82]:
box_=get_text(box)
box_

['Starpeng-zhihui / Dummy-Robot我的超迷你机械臂机器人项目。3,238 390 Built by447 stars today',
 'Starxinntao / Real-ESRGANReal-ESRGAN aims at developing Practical Algorithms for General Image Restoration.Python 4,318 371 Built by320 stars today',
 'Starckosmic / sm64ex-iosiOS port of https://github.com/sm64pc/sm64ex/C 142 12 Built by21 stars today',
 'Starethereum / ethereum-org-websiteEthereum.org is a primary online resource for the Ethereum community.JavaScript 1,398 1,473 Built by4 stars today',
 'StarWebDevSimplified / useful-custom-react-hooksJavaScript 389 130 Built by17 stars today',
 'Startrailofbits / algoSet up a personal VPN in the cloudPython 23,235 1,923 Built by364 stars today',
 'SponsorStartrekhleb / promote-your-next-startup🚀 Free resources you may use to promote your next startup1,252 117 Built by79 stars today',
 'SponsorStarsdras / awesome-actionsA curated list of awesome actions to use on GitHub15,851 1,011 Built by226 stars today',
 'Starcobaltdisco / Google-Chinese-Results-Blocklist我终于能用谷歌搜中文了……4,103 157 Built by263 stars today',
 'Starpeng-zhihui / L-ink_CardSmart NFC & ink-Display CardC 5,730 1,384 Built by23 stars today',
 'Stariptv-org / iptvCollection of publicly available IPTV channels from all over the worldJavaScript 40,896 3,608 Built by83 stars today',
 'Starpeng-zhihui / peng-zhihui.github.io稚晖的个人站HTML 816 117 Built by19 stars today',
 'Starvalinet / ExplorerPatcherThis project aims to bring back a productive working environment on Windows 11.C 512 21 Built by77 stars today',
 'Staropenwrt / openwrtThis repository is a mirror of https://git.openwrt.org/openwrt/openwrt.git It is for reference only and is not active for check-ins or for reporting issues. We will continue to accept Pull Requests here. They will be merged via staging trees then into openwrt.git. All issues should be reported at: https://bugs.openwrt.orgC 9,717 6,302 Built by9 stars today',
 "Starzeromicro / go-zerogo-zero is a web and rpc framework written in Go. It's born to ensure the stability of the busy sites with resilient design. Builtin goctl greatly improves the development productivity.Go 11,813 1,388 Built by32 stars today",
 'Starethereum / EIPsThe Ethereum Improvement Proposal repositorySolidity 7,392 2,840 Built by7 stars today',
 'Starbitcoin / bitcoinBitcoin Core integration/staging treeC++ 57,588 30,137 Built by61 stars today',
 'Stargithub / docsThe open-source repo for docs.github.comJavaScript 6,472 27,606 Built by13 stars today',
 'Stargoplus / gopGoPlus - The Go+ language for engineering, STEM education, and data scienceGo 5,607 402 Built by38 stars today',
 'Starjklepatch / eattheblocksSource code for Eat The Blocks, a screencast for Ethereum Dapp DevelopersJavaScript 2,161 1,849 Built by5 stars today',
 'Starfilecoin-project / lotusImplementation of the Filecoin protocol, written in GoGo 1,803 894 Built by1 stars today',
 'Starbevyengine / bevyA refreshingly simple data-driven game engine built in RustRust 11,049 950 Built by22 stars today',
 'StarNationalSecurityAgency / ghidraGhidra is a software reverse engineering (SRE) frameworkJava 29,115 3,808 Built by8 stars today',
 'Stargolang / goThe Go programming languageGo 90,833 13,399 Built by53 stars today',
 'Starraimohanska / ourboardAn online whiteboardTypeScript 232 14 Built by11 stars today']

In [84]:
#since there are rows missing in the description feature,taking measures to keep the length of description same as the other features

des_=[]
count=0
for i in box_:
    if(i.find(description[count])!=-1):
        des_.append(description[count])
        count=count+1
    else:
        des_.append('N/A')
des_

['我的超迷你机械臂机器人项目。',
 'Real-ESRGAN aims at developing Practical Algorithms for General Image Restoration.',
 'iOS port of https://github.com/sm64pc/sm64ex/',
 'Ethereum.org is a primary online resource for the Ethereum community.',
 'N/A',
 'Set up a personal VPN in the cloud',
 '🚀 Free resources you may use to promote your next startup',
 'A curated list of awesome actions to use on GitHub',
 '我终于能用谷歌搜中文了……',
 'Smart NFC & ink-Display Card',
 'Collection of publicly available IPTV channels from all over the world',
 '稚晖的个人站',
 'This project aims to bring back a productive working environment on Windows 11.',
 'This repository is a mirror of https://git.openwrt.org/openwrt/openwrt.git It is for reference only and is not active for check-ins or for reporting issues. We will continue to accept Pull Requests here. They will be merged via staging trees then into openwrt.git. All issues should be reported at: https://bugs.openwrt.org',
 "go-zero is a web and rpc framework written in Go. It's born to ensure the stability of the busy sites with resilient design. Builtin goctl greatly improves the development productivity.",
 'The Ethereum Improvement Proposal repository',
 'Bitcoin Core integration/staging tree',
 'The open-source repo for docs.github.com',
 'GoPlus - The Go+ language for engineering, STEM education, and data science',
 'Source code for Eat The Blocks, a screencast for Ethereum Dapp Developers',
 'Implementation of the Filecoin protocol, written in Go',
 'A refreshingly simple data-driven game engine built in Rust',
 'Ghidra is a software reverse engineering (SRE) framework',
 'The Go programming language',
 'An online whiteboard']

In [74]:
len(language_)

46

CREATING DATAFRAME FOR SCRAPED DATA

In [86]:
import pandas as pd
df=pd.DataFrame()
df['INDEX']=range(1,len(titles)+1)
df['TITLE']=titles
df['DESCRIPTION']=des_
df['CONTIBUTERS_COUNT']=contributers
df['LANGUAGE']=language_
df.set_index('INDEX',inplace=True)
df

,TITLE,DESCRIPTION,CONTIBUTERS_COUNT,LANGUAGE
INDEX,,,,
1,peng-zhihui / Dummy-Robot,我的超迷你机械臂机器人项目。,"3,238",N/A
2,xinntao / Real-ESRGAN,Real-ESRGAN aims at developing Practical Algor...,"4,318",Python
3,ckosmic / sm64ex-ios,iOS port of https://github.com/sm64pc/sm64ex/,142,C
4,ethereum / ethereum-org-website,Ethereum.org is a primary online resource for ...,"1,398",JavaScript
5,WebDevSimplified / useful-custom-react-hooks,N/A,389,JavaScript
6,trailofbits / algo,Set up a personal VPN in the cloud,"23,235",Python
7,trekhleb / promote-your-next-startup,🚀 Free resources you may use to promote your n...,"1,252",N/A
8,sdras / awesome-actions,A curated list of awesome actions to use on Gi...,"15,851",N/A
9,cobaltdisco / Google-Chinese-Results-Blocklist,我终于能用谷歌搜中文了……,"4,103",N/A
10,peng-zhihui / L-ink_Card,Smart NFC & ink-Display Card,"5,730",C
11,iptv-org / iptv,Collection of publicly available IPTV channels...,"40,896",JavaScript
12,peng-zhihui / peng-zhihui.github.io,稚晖的个人站,816,HTML
13,valinet / ExplorerPatcher,This project aims to bring back a productive w...,512,C
14,openwrt / openwrt,This repository is a mirror of https://git.ope...,"9,717",C
15,zeromicro / go-zero,go-zero is a web and rpc framework written in ...,"11,813",Go
16,ethereum / EIPs,The Ethereum Improvement Proposal repository,"7,392",Solidity
17,bitcoin / bitcoin,Bitcoin Core integration/staging tree,"57,588",C++
18,github / docs,The open-source repo for docs.github.com,"6,472",JavaScript
19,goplus / gop,"GoPlus - The Go+ language for engineering, STE...","5,607",Go
20,jklepatch / eattheblocks,"Source code for Eat The Blocks, a screencast f...","2,161",JavaScript
21,filecoin-project / lotus,"Implementation of the Filecoin protocol, writt...","1,803",Go
22,bevyengine / bevy,A refreshingly simple data-driven game engine ...,"11,049",Rust
23,NationalSecurityAgency / ghidra,Ghidra is a software reverse engineering (SRE)...,"29,115",Java
24,golang / go,The Go programming language,"90,833",Go
25,raimohanska / ourboard,An online whiteboard,232,TypeScript

FINAL DATAFRAME

QUESTION-6
Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [1]:
import selenium
from selenium import webdriver

In [3]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [4]:
url='https://www.billboard.com/'
driver.get(url)

In [5]:
driver.maximize_window()

In [7]:
charts=driver.find_elements_by_xpath("//li[@class='header__main-link__wrapper']/a")
charts[6].click()

In [24]:
from selenium.common.exceptions import ElementClickInterceptedException,ElementNotInteractableException,NoSuchElementException

In [21]:
try:
    
    hot_100=driver.find_elements_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']")
    url_2=hot_100[0].get_attribute('href')
except ElementClickInterceptedException as e:
    print("Not Clickable",e)
except ElementNotInteractableException:
    print("Not Interactable")

In [22]:
driver.get(url_2)

In [23]:
#creating a function to get text from a list:
def get_text(web_el):
    list=[]
    for i in web_el:
        list.append(i.text.replace("\n",""))
    return list

In [25]:
try:
    
    song_el=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    song=get_text(song_el)
except NoSuchElementException as e:
    print("Element not found",e)

In [27]:
len(song)

100

In [28]:
try:
    
    artist_el=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    artist=get_text(artist_el)
    print(len(artist))
except NoSuchElementException as e:
    print("Element not found",e)

100

In [30]:
try:
    
    last_w_el=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    last_w=get_text(last_w_el)
    print(len(last_w))
except NoSuchElementException as e:
    print("Element not found",e)

100

In [32]:
try:
    
    peak_rank_el=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    peak_rank=get_text(peak_rank_el)
    print(len(peak_rank))
except NoSuchElementException as e:
    print("Element not found",e)

100

In [33]:
try:
    
    weeks_onboard_el=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    weeks_onboard=get_text(weeks_onboard_el)
    print(len(weeks_onboard))
except NoSuchElementException as e:
    print("Element not found",e)

100

CREATING DATAFRAME FOR THE SCRAPED DATA

In [35]:
import pandas as pd
hot_100=pd.DataFrame()
hot_100['INDEX']=range(1,101)
hot_100['SONG_NAME']=song
hot_100['ARTIST']=artist
hot_100['LAST_WEEK_RANK']=last_w
hot_100['PEAK_RANK']=peak_rank
hot_100['WEEKS_ONBOARD']=weeks_onboard
hot_100.set_index('INDEX',inplace=True)
hot_100

,SONG_NAME,ARTIST,LAST_WEEK_RANK,PEAK_RANK,WEEKS_ONBOARD
INDEX,,,,,
1,My Universe,Coldplay x BTS,-,1,1
2,Stay,The Kid LAROI & Justin Bieber,1,1,12
3,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
4,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
5,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
96,Pipe Down,Drake,68,14,4
97,Papi's Home,Drake,66,8,4
98,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
99,Toxic Punk,YoungBoy Never Broke Again,-,99,1
100,Moon,Kanye West,76,17,5

FINAL DATAFRAME

QUESTION-7
. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code.

In [1]:
import selenium
from selenium import webdriver

In [2]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
driver.maximize_window()

In [5]:
from selenium.common.exceptions import ElementClickInterceptedException,ElementNotInteractableException,NoSuchElementException

In [9]:
try:
    recruiters_el=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
    recruiters=recruiters_el.get_attribute("href")
    driver.get(recruiters)
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [13]:
#typing datascience into the search pane
try:
    search_col=driver.find_element_by_xpath("//input[@class='sugInp']")
    search_col.send_keys("data science")
except NoSuchElementException as n:
    print("element not found",n)

except ElementNotInteractableException as i:
    print("not interactable",i)

In [14]:
#clicking the search button
try:
    search=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
    search.click()
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [15]:
#creating a function to get text from a list:
def get_text(web_el):
    list=[]
    for i in web_el:
        list.append(i.text.replace("\n",""))
    return list

In [16]:
#scraping names of the recruiters
try:
    rec_el=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
    names=get_text(rec_el)
    print(len(names))
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

50

In [58]:
#scraping designations of the recruiters
try:
    des_el=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    designation=get_text(des_el)
    print(len(designation))
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

50

In [21]:
#scraping companies of the recruiters
try:
    comp_el=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    companies=get_text(comp_el)
    print(len(companies))
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

50

In [22]:
#scraping locations of the recruiters
try:
    loc_el=driver.find_elements_by_xpath("//small[@class='ellipsis']")
    location=get_text(loc_el)
    print(len(location))
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

48

In [29]:
#scraping raw data of the recruiters
try:
    raw_el=driver.find_elements_by_xpath("//p[@class='highlightable']")
    raw=get_text(raw_el)
    print(len(raw))
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

50

In [32]:
raw_=[]
for i in raw:
     raw_.append(i.split(" "))
raw_

[['Aakash', 'HaritHR', 'ManagerData', 'Science', 'NetworkDelhi'],
 ['shravan',
  'Kumar',
  'GaddamCompany',
  'RecruiterShore',
  'Infotech',
  'India',
  'Pvt.',
  'LtdHyderabad',
  '/',
  'Secunderabad'],
 ['MARSIAN',
  'Technologies',
  'LLPCompany',
  'HRMARSIAN',
  'Technologies',
  'LLPPune'],
 ['Anik',
  'AgrawalCompany',
  'RecruiterEnerlytics',
  'Software',
  'Solutions',
  'Pvt',
  'LtdAhmedabad'],
 ['NarasimhaCompany',
  'RecruiterStep',
  'Next',
  'Private',
  'LimitedHyderabad',
  '/',
  'Secunderabad'],
 ['subhas', 'patelFounder', 'CEOLibraryXProjectUK', '-', '(london)'],
 ['Abhishek',
  '-',
  'Only',
  'Analytics',
  'Hiring',
  '-',
  'India',
  'andRecruitment',
  'Lead',
  'ConsultantApidel',
  'Technologies',
  'Division',
  'of',
  'TranspowerVadodara',
  '/',
  'Baroda'],
 ['Institute',
  'for',
  'Financial',
  'Management',
  'and',
  'ResearProgramme',
  'ManagerIFMRChennai'],
 ['Balu',
  'RameshHR',
  'AdministratorTechvantage',
  'Systems',
  'Pvt',
  'LtdTrivandrum'],
 ['Asif', 'LucknowiDirectorWeupskill-', 'Live', 'Wire', 'IndiaIndore'],
 ['InstaFinancialsHuman',
  'ResourceCBL',
  'Data',
  'Science',
  'Private',
  'LimitedBengaluru',
  '/',
  'Bangalore'],
 ['Priyanka',
  'AkiriHR',
  'ManagerInfinitive',
  'Software',
  'Solutions',
  'Pvt.Ltd.Hyderabad'],
 ['Kalpana',
  'DumpalaExecutive',
  'HiringInnominds',
  'SoftwareHyderabad',
  '/',
  'Secunderabad'],
 ['MubarakCompany', 'HRMoneyTapBengaluru', '/', 'Bangalore'],
 ['Kushal',
  'RastogiCompany',
  'HRQuantMagnum',
  'Technologies',
  'Pvt.',
  'Ltd.Mumbai'],
 ['Ruchi',
  'DhoteSenior',
  'Executive',
  'Talent',
  'AcquisitionBristlecone',
  'India',
  'LtdPune'],
 ['Mahesh',
  'Babu',
  'ChannaHR',
  'Team',
  'LeadSocialPrachar.comHyderabad',
  '/',
  'Secunderabad'],
 ['Kapil', 'DevangHR', 'ManagerBISP', 'SolutionsBhopal'],
 ['Manisha', 'YadavHR', 'ExecutiveEasi', 'TaxNavi', 'Mumbai'],
 ['Riya',
  'RajeshManager',
  'Talent',
  'AcquisitionNovelworx',
  'Digital',
  'SolutionsCochin'],
 ['Rashmi',
  'BhattacharjeeHR',
  'HeadAXESTRACK',
  'SOFTWARE',
  'SOLUTIONS',
  'PRIVATE...Delhi'],
 ['Faizan',
  'KareemHR',
  'MANAGERFirstTech',
  'Consaltants',
  'Pvt.LtdHyderabad',
  '/',
  'Secunderabad'],
 ['Rithika', 'dadwalHR', 'RecruiterAffine', 'AnalyticsPune'],
 ['Sandhya',
  'KhandagaleHR',
  'RecruiterCompumatrice',
  'Multimedia',
  'Pvt',
  'LtdPune'],
 ['Shaun', 'RaoManager', 'Human', 'ResourcesExela', 'TechnologiesPune'],
 ['Azahar',
  'ShaikhCompany',
  'RecruiterNEAL',
  'ANALYTICS',
  'SERVICES',
  'PVT',
  'LTDPune'],
 ['ManasLead',
  'Talent',
  'acquisitionAutumn',
  'Leaf',
  'Consulting',
  'Services',
  'Private...Bengaluru',
  '/',
  'Bangalore'],
 ['kumarProprietortraininBengaluru', '/', 'Bangalore'],
 ['Sunil', 'VedulaCEONanoprecise', 'Sci', 'Corp'],
 ['Rajat', 'KumarFounder', 'CEOR.S', 'Consultancy', '&amp;', 'ServicesDelhi'],
 ['Priya',
  'KhareSenior',
  'ManagerIndependent',
  'ConsultantBengaluru',
  '/',
  'Bangalore'],
 ['Dhruv',
  'Dev',
  'DubeyCompany',
  'Recruitment',
  'HeadConfidentialBengaluru',
  '/',
  'Bangalore'],
 ['Jayanth',
  'NProject',
  'ManagerDollarbird',
  'Information',
  'Services',
  'Pvt,',
  'LtdMysoru',
  '/',
  'Mysore'],
 ['Ravi',
  'DubeyRecruitment',
  'ManagerHyrEzy',
  'Talent',
  'Solutions',
  'LLPGhaziabad'],
 ['Radha', 'ManivasagamHR', 'ExecutiveTechcoveryBengaluru', '/', 'Bangalore'],
 ['Prateek', 'KumarHeadTrisectNoida'],
 ['Amit', 'SharmaConsultantASCO', 'consultingNew', 'Delhi'],
 ['Kanansenior', 'technology', 'instructorNY', 'INSTChennai'],
 ['Shashikant',
  'ChaudharyHR',
  'Recruiter/HR',
  'Excutive3D',
  'India',
  'Staffing',
  'Research',
  '&amp;',
  'Consulting...Aligarh'],
 ['BradManager,', 'Technical', 'RecruitingO.C.', 'TannerSalt', 'Lake', 'City'],
 ['Rutuja', 'PawarTechnical', 'RecruiterDemand', 'MatrixPune'],
 ['Madhusudhan',
  'SridharErp',
  'ImplementerMADHUSUDHAN',
  'SRIDHARBengaluru',
  '/',
  'Bangalore'],
 ['Ankit', 'SinhaHead', 'AnalyticsSuntech', 'GlobalMumbai'],
 ['Gaurav',
  'ChouhanChief',
  'Technical',
  'OfficerStrategic',
  'Consulting',
  'LabIndore'],
 ['Rashi',
  'KackerSr',
  'Product',
  'ManagerImpel',
  'Labs',
  'Pvt.',
  'Ltd.Bengaluru',
  '/',
  'Bangalore'],
 ['AshwiniDirector', 'Global', 'DeliveryMRP', 'AdvisersMYSORE'],
 ['Balaji',
  'KolliCo',
  'FounderSaras',
  'Solutions',
  'India',
  'Pvt',
  'LtdHyderabad',
  '/',
  'Secunderabad'],
 ['Rajani', 'NagarajHR', 'ManagerWildJasmineBengaluru', '/', 'Bangalore'],
 ['ROHIT', 'KumarArchitectLNT', 'Private', 'LimitedMumbai'],
 ['Amir', 'ChowdhuryManaging', 'PartnerGranular.ai']]

In [52]:
count=0
loc=[]
for i in raw:
    
    if(i.find(location[count])==-1):
        loc.append("N/A")
    else:
        loc.append(location[count])
        if(count>=47):
            continue
        count=count+1
loc

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'Hyderabad / Secunderabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Pune',
 'Hyderabad / Secunderabad',
 'Bhopal',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'N/A',
 'Delhi',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Mysoru / Mysore',
 'Ghaziabad',
 'Bengaluru / Bangalore',
 'Noida',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'N/A']

In [53]:
len(loc)

50

In [54]:
#scraping skill requirements of the recruiters
try:
    req_el=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    requirement=get_text(req_el)
    print(len(requirement))
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

50

CREATING DATAFRAME FOR THE SCRAPED DATA

In [59]:
import pandas as pd
data=pd.DataFrame()
data['INDEX']=range(1,51)
data['RECRUITER_NAME']=names
data['DESIGNATION']=designation
data['LOCATION']=loc
data['HIRE_FOR']=requirement
data.set_index('INDEX',inplace=True)
data

,RECRUITER_NAME,DESIGNATION,LOCATION,HIRE_FOR
INDEX,,,,
1,Aakash Harit,HR Manager,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
2,shravan Kumar Gaddam,Company Recruiter,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
3,MARSIAN Technologies LLP,Company HR,Pune,"Data Science, Artificial Intelligence, Machine..."
4,Anik Agrawal,Company Recruiter,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
5,Narasimha,Company Recruiter,Hyderabad / Secunderabad,"Data Modeling, Data Wrangling, seaborn, eda, p..."
6,subhas patel,Founder CEO,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
8,Institute for Financial Management and Resear,Programme Manager,Chennai,Data Science
9,Balu Ramesh,HR Administrator,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
10,Asif Lucknowi,Director,Indore,"Technical Training, Software Development, Pres..."
11,InstaFinancials,Human Resource,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
12,Priyanka Akiri,HR Manager,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET..."
13,Kalpana Dumpala,Executive Hiring,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
14,Mubarak,Company HR,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
15,Kushal Rastogi,Company HR,Mumbai,"Office Administration, Hr Administration, tele..."
16,Ruchi Dhote,Senior Executive Talent Acquisition,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
17,Mahesh Babu Channa,HR Team Lead,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
18,Kapil Devang,HR Manager,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
19,Manisha Yadav,HR Executive,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,Cochin,Data Science
21,Rashmi Bhattacharjee,HR Head,Delhi,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,Pune,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,HR Recruiter,Pune,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Azahar Shaikh,Company Recruiter,Pune,"Data Science, Artificial Intelligence, Machine..."
27,Manas,Lead Talent acquisition,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
28,kumar,Proprietor,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
29,Sunil Vedula,CEO,N/A,"Signal Processing, Machine Learning, Neural Ne..."
30,Rajat Kumar,Founder CEO,Delhi,"Web Technologies, Project Management, Software..."
31,Priya Khare,Senior Manager,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
32,Dhruv Dev Dubey,Company Recruitment Head,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
33,Jayanth N,Project Manager,Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
34,Ravi Dubey,Recruitment Manager,Ghaziabad,Walmart Interra Skeps Expressstores indifi whi...
35,Radha Manivasagam,HR Executive,Bengaluru / Bangalore,"Python, Artificial Intelligence, Machine Learn..."
36,Prateek Kumar,Head,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
37,Amit Sharma,Consultant,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
38,Kanan,senior technology instructor,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,Aligarh,"Relationship Management, Retail Sales, Private..."
40,Brad,"Manager, Technical Recruiting",Salt Lake City,"Data Science, Software Engineering"
41,Rutuja Pawar,Technical Recruiter,Pune,"Data Science, Big Data Analytics, Digital Mark..."
42,Madhusudhan Sridhar,Erp Implementer,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
43,Ankit Sinha,Head Analytics,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
44,Gaurav Chouhan,Chief Technical Officer,Indore,"Software Development, Business Intelligence, B..."
45,Rashi Kacker,Sr Product Manager,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
46,Ashwini,Director Global Delivery,MYSORE,"Data Science, Media Marketing, Resource Planni..."
47,Balaji Kolli,Co Founder,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
48,Rajani Nagaraj,HR Manager,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
49,ROHIT Kumar,Architect,Mumbai,"Software Development, Core Java, Unit Testing,..."
50,Amir Chowdhury,Managing Partner,N/A,"Machine Learning, Data Science, Product Manage..."

FINAL DATA FRAME

QUESTION-8

Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
9. Scrape the details most watched

In [2]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import ElementClickInterceptedException,ElementNotInteractableException,NoSuchElementException

In [17]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [18]:
url='https://www.theguardian.com/'
driver.get(url)

In [19]:
driver.maximize_window()

In [22]:
#the given url shows gives an error,going to the guardian's homepage 
try:
    
    cookie_popup=driver.find_element_by_xpath("//*[@id="notice"]/div[3]/div/div/button[1]")
    cookie_popup.click()
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

element not found Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id='notice']/div[3]/div/div/button[1]"}
  (Session info: chrome=94.0.4606.81)

In [25]:
search_column=driver.find_element_by_xpath("//a[@class='top-bar__item popup__toggle hide-until-desktop js-search-toggle js-toggle-ready']")
search_column.click()

In [30]:
try:
    input_button=driver.find_element_by_xpath("//input[@class='gsc-input']")
    input_button.send_keys("highest selling novels")
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [31]:
try:
    search_btn=driver.find_element_by_xpath("//button[@class='gsc-search-button gsc-search-button-v2']")
    search_btn.click()
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [32]:
#going to the desired page now
try:
    page_=driver.find_element_by_xpath("//a[@class='gs-title']")
    page=page_.get_attribute("href")
    driver.get(page)
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [33]:
#creating a function to get text from a list:
def get_text(web_el):
    list=[]
    for i in web_el:
        list.append(i.text.replace("\n",""))
    return list

In [34]:
#scraping all data at once and then dividing them into different columns
try:
    
    raw_=driver.find_elements_by_xpath("//tr/td")
    raw=get_text(raw_)
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [37]:
raw.pop(0)

'SOURCE: NIELSEN BOOK SCAN'

In [38]:
raw

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 'Crime, Thriller & Adventure',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 "Children's Fiction",
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 "Children's Fiction",
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 "Children's Fiction",
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 'Romance & Sagas',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 "Children's Fiction",
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 "Children's Fiction",
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 "Children's Fiction",
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 'Crime, Thriller & Adventure',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 "Children's Fiction",
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 'Romance & Sagas',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 'Young Adult Fiction',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 'Crime, Thriller & Adventure',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 'Romance & Sagas',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 'Crime, Thriller & Adventure',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 'Young Adult Fiction',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 'Crime, Thriller & Adventure',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 'Young Adult Fiction',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 'General & Literary Fiction',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 'General & Literary Fiction',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 'Crime, Thriller & Adventure',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 'Popular Science',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 'Crime, Thriller & Adventure',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 'Young Adult Fiction',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 'Picture Books',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 'Picture Books',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 'Food & Drink: General',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 'General & Literary Fiction',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 'General & Literary Fiction',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 'General & Literary Fiction',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 'Crime, Thriller & Adventure',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 'General & Literary Fiction',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 'General & Literary Fiction',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 'General & Literary Fiction',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 'Humour: Collections & General',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 'General & Literary Fiction',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 'Autobiography: General',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 'General & Literary Fiction',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 'Biography: The Arts',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 'Autobiography: General',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 'Picture Books',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 'Autobiography: General',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 'General & Literary Fiction',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 'General & Literary Fiction',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 'Science Fiction & Fantasy',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 'General & Literary Fiction',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 'General & Literary Fiction',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 'General & Literary Fiction',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 'Crime, Thriller & Adventure',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 'General & Literary Fiction',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 'General & Literary Fiction',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 'Fitness & Diet',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 'General & Literary Fiction',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 "Children's Fiction",
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 'Crime, Thriller & Adventure',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 'Fitness & Diet',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 'Usage & Writing Guides',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 'Food & Drink: General',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 'General & Literary Fiction',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 'Young Adult Fiction',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 'General & Literary Fiction',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 'General & Literary Fiction',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 'Popular Culture & Media: General Interest',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 'Autobiography: The Arts',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 'General & Literary Fiction',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 'Crime, Thriller & Adventure',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 'Science Fiction & Fantasy',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 'Current Affairs & Issues',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 'Crime, Thriller & Adventure',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 'Autobiography: The Arts',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 'General & Literary Fiction',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 'Autobiography: The Arts',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 'Travel Writing',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 'Food & Drink: General',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 'General & Literary Fiction',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 'National & Regional Cuisine',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 'Fitness & Diet',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 'Travel Writing',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 'Crime, Thriller & Adventure',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 'General & Literary Fiction',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 'Food & Drink: General',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 'General & Literary Fiction',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 'General & Literary Fiction',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 'Picture Books',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 'General & Literary Fiction',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 'Autobiography: The Arts',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 'Popular Science',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 "Children's Annuals",
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 'General & Literary Fiction',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 'General & Literary Fiction',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 'General & Literary Fiction',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 'General & Literary Fiction',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 'General & Literary Fiction',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 'Food & Drink: General',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 'Biography: General',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin',
 'Food & Drink: General']

In [40]:
#filtering book name
name=[]
for i in range(1,len(raw),6):
    name.append(raw[i])
len(name)

100

In [42]:
#filtering book author
author=[]
for i in range(2,len(raw),6):
    author.append(raw[i])
len(author)

100

In [43]:
#filtering book volumes_sold
volumes_sold=[]
for i in range(3,len(raw),6):
    volumes_sold.append(raw[i])
len(volumes_sold)

100

In [45]:
#filtering book publisher
publisher=[]
for i in range(4,len(raw),6):
    publisher.append(raw[i])
len(publisher)

100

In [47]:
#filtering book genre
genre=[]
for i in range(5,len(raw),6):
    genre.append(raw[i])
len(genre)

100

In [48]:
#filtering book rank
rank=[]
for i in range(0,len(raw),6):
    rank.append(raw[i])
len(rank)

100

CREATING DATAFRAME FOR THE SCRAPED DATA

In [50]:
import pandas as pd
highest_selling_novels=pd.DataFrame()
highest_selling_novels['RANK']=rank
highest_selling_novels['BOOK_NAME']=name
highest_selling_novels['AUTHOR']=author
highest_selling_novels['VOLUMES_SOLD']=volumes_sold
highest_selling_novels['PUBLISHER']=publisher
highest_selling_novels['GENRE']=genre
highest_selling_novels.set_index('RANK',inplace=True)
highest_selling_novels

,BOOK_NAME,AUTHOR,VOLUMES_SOLD,PUBLISHER,GENRE
RANK,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

FINAL DATAFRAME FOR HIGHEST SELLING NOVELS

QUESTION-9

Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [1]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import ElementClickInterceptedException,ElementNotInteractableException,NoSuchElementException

In [2]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [3]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [4]:
driver.maximize_window()

In [6]:
#creating a function to get text from a list:
def get_text(web_el):
    list=[]
    for i in web_el:
        list.append(i.text.replace("\n",""))
    return list

In [15]:
#proceeding to scraping data
try:
    
    name_el=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    name=get_text(name_el)
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [16]:
name[:10]

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow']

In [17]:
#scraping year span
try:
    
    year_el=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
    year=get_text(year_el)
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [20]:
#scraping Genre
try:
    genre_el=driver.find_elements_by_xpath("//span[@class='genre']")
    genre=get_text(genre_el)
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [22]:
#scraping runtime
try:
    run_el=driver.find_elements_by_xpath("//span[@class='runtime']")
    runtime=get_text(run_el)
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [24]:
#scraping ratings
try:
    
    rating_el=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
    ratings=get_text(rating_el)
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [26]:
#scraping votes
try:
    
    vote_el=driver.find_elements_by_xpath("//span[@name='nv']")
    votes=get_text(vote_el)
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

CREATING A DATAFRAME FOR THE SCRAPED DATA

In [29]:
import pandas as pd
imdb=pd.DataFrame()
imdb['INDEX']=range(1,101)
imdb['SERIES_NAME']=name
imdb['YEAR_SPAN']=year
imdb['GENRE']=genre
imdb['RUNTIME']=runtime
imdb['RATINGS']=ratings
imdb['VOTES']=votes
imdb.set_index('INDEX',inplace=True)
imdb

,SERIES_NAME,YEAR_SPAN,GENRE,RUNTIME,RATINGS,VOTES
INDEX,,,,,,
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,883,678"
2,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"916,940"
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"905,122"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"271,078"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,436"
...,...,...,...,...,...,...
96,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,930"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,797"
98,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,519"
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,944"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"204,366"

QUESTION-10

Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [1]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import ElementClickInterceptedException,ElementNotInteractableException,NoSuchElementException

In [2]:
driver=webdriver.Chrome(r"C:\python\chromedriver")

In [3]:
url='https://archive.ics.uci.edu/'
driver.get(url)

In [4]:
driver.maximize_window()

In [6]:
#going to the view all datasets page
try:
    
    view_all=driver.find_elements_by_xpath("//span[@class='whitetext']/a")
    all_url=view_all[4].get_attribute('href')
    driver.get(all_url)
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [7]:
#proceeding to scraping the data from the website
#creating a function to get text from a list:
def get_text(web_el):
    list=[]
    for i in web_el:
        list.append(i.text.replace("\n",""))
    return list

In [8]:
#scraping dataset name
try:
    name_el=driver.find_elements_by_xpath("//b/a")
    name=get_text(name_el)
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [16]:
#scraping all data about the dataset and then distributing  them into their respective columns
try:
    raw_el=driver.find_elements_by_xpath("//td//p[@class='normal']")
    raw=get_text(raw_el)
except NoSuchElementException as n:
    print("element not found",n)
except  ElementClickInterceptedException as e:
    print(e)
except ElementNotInteractableException as i:
    print("not interactable",i)

In [19]:
raw[8:]

['Abalone',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '4177 ',
 '8 ',
 '1995 ',
 'Adult',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Annealing',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '798 ',
 '38 ',
 ' ',
 'Anonymous Microsoft Web Data',
 ' ',
 'Recommender-Systems ',
 'Categorical ',
 '37711 ',
 '294 ',
 '1998 ',
 'Arrhythmia',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '452 ',
 '279 ',
 '1998 ',
 'Artificial Characters',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '6000 ',
 '7 ',
 '1992 ',
 'Audiology (Original)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 ' ',
 '1987 ',
 'Audiology (Standardized)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 '69 ',
 '1992 ',
 'Auto MPG',
 'Multivariate ',
 'Regression ',
 'Categorical, Real ',
 '398 ',
 '8 ',
 '1993 ',
 'Automobile',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer, Real ',
 '205 ',
 '26 ',
 '1987 ',
 'Badges',
 'Univariate, Text ',
 'Classification ',
 ' ',
 '294 ',
 '1 ',
 '1994 ',
 'Balance Scale',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '625 ',
 '4 ',
 '1994 ',
 'Balloons',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '16 ',
 '4 ',
 ' ',
 'Breast Cancer',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '286 ',
 '9 ',
 '1988 ',
 'Breast Cancer Wisconsin (Original)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '699 ',
 '10 ',
 '1992 ',
 'Breast Cancer Wisconsin (Prognostic)',
 'Multivariate ',
 'Classification, Regression ',
 'Real ',
 '198 ',
 '34 ',
 '1995 ',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Multivariate ',
 'Classification ',
 'Real ',
 '569 ',
 '32 ',
 '1995 ',
 'Pittsburgh Bridges',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '108 ',
 '13 ',
 '1990 ',
 'Car Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '1728 ',
 '6 ',
 '1997 ',
 'Census Income',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Chess (King-Rook vs. King-Knight)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical, Integer ',
 ' ',
 '22 ',
 '1988 ',
 'Chess (King-Rook vs. King-Pawn)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '3196 ',
 '36 ',
 '1989 ',
 'Chess (King-Rook vs. King)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '28056 ',
 '6 ',
 '1994 ',
 'Chess (Domain Theories)',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Bach Chorales',
 'Univariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 '100 ',
 '6 ',
 ' ',
 'Connect-4',
 'Multivariate, Spatial ',
 'Classification ',
 'Categorical ',
 '67557 ',
 '42 ',
 '1995 ',
 'Credit Approval',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '15 ',
 ' ',
 'Japanese Credit Screening',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real, Integer ',
 '125 ',
 ' ',
 '1992 ',
 'Computer Hardware',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '209 ',
 '9 ',
 '1987 ',
 'Contraceptive Method Choice',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1473 ',
 '9 ',
 '1997 ',
 'Covertype',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '581012 ',
 '54 ',
 '1998 ',
 'Cylinder Bands',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '512 ',
 '39 ',
 '1995 ',
 'Dermatology',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '366 ',
 '33 ',
 '1998 ',
 'Diabetes',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 ' ',
 '20 ',
 ' ',
 'DGP2 - The Second Data Generation Program',
 'Data-Generator ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Document Understanding',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 'EBL Domain Theories',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Echocardiogram',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '132 ',
 '12 ',
 '1989 ',
 'Ecoli',
 'Multivariate ',
 'Classification ',
 'Real ',
 '336 ',
 '8 ',
 '1996 ',
 'Flags',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '194 ',
 '30 ',
 '1990 ',
 'Function Finding',
 ' ',
 'Function-Learning ',
 'Real ',
 '352 ',
 ' ',
 '1990 ',
 'Glass Identification',
 'Multivariate ',
 'Classification ',
 'Real ',
 '214 ',
 '10 ',
 '1987 ',
 "Haberman's Survival",
 'Multivariate ',
 'Classification ',
 'Integer ',
 '306 ',
 '3 ',
 '1999 ',
 'Hayes-Roth',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '160 ',
 '5 ',
 '1989 ',
 'Heart Disease',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '303 ',
 '75 ',
 '1988 ',
 'Hepatitis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '155 ',
 '19 ',
 '1988 ',
 'Horse Colic',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '368 ',
 '27 ',
 '1989 ',
 'ICU',
 'Multivariate, Time-Series ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Image Segmentation',
 'Multivariate ',
 'Classification ',
 'Real ',
 '2310 ',
 '19 ',
 '1990 ',
 'Internet Advertisements',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '3279 ',
 '1558 ',
 '1998 ',
 'Ionosphere',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '351 ',
 '34 ',
 '1989 ',
 'Iris',
 'Multivariate ',
 'Classification ',
 'Real ',
 '150 ',
 '4 ',
 '1988 ',
 'ISOLET',
 'Multivariate ',
 'Classification ',
 'Real ',
 '7797 ',
 '617 ',
 '1994 ',
 'Kinship',
 'Relational ',
 'Relational-Learning ',
 'Categorical ',
 '104 ',
 '12 ',
 '1990 ',
 'Labor Relations',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '57 ',
 '16 ',
 '1988 ',
 'LED Display Domain',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical ',
 ' ',
 '7 ',
 '1988 ',
 'Lenses',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '24 ',
 '4 ',
 '1990 ',
 'Letter Recognition',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '20000 ',
 '16 ',
 '1991 ',
 'Liver Disorders',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '345 ',
 '7 ',
 '1990 ',
 'Logic Theorist',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Lung Cancer',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '32 ',
 '56 ',
 '1992 ',
 'Lymphography',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '148 ',
 '18 ',
 '1988 ',
 'Mechanical Analysis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '209 ',
 '8 ',
 '1990 ',
 'Meta-data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '528 ',
 '22 ',
 '1996 ',
 'Mobile Robots',
 'Domain-Theory ',
 ' ',
 'Categorical, Integer, Real ',
 ' ',
 ' ',
 '1995 ',
 'Molecular Biology (Promoter Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '106 ',
 '58 ',
 '1990 ',
 'Molecular Biology (Protein Secondary Structure)',
 'Sequential ',
 'Classification ',
 'Categorical ',
 '128 ',
 ' ',
 ' ',
 'Molecular Biology (Splice-junction Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '3190 ',
 '61 ',
 '1992 ',
 "MONK's Problems",
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '432 ',
 '7 ',
 '1992 ',
 'Moral Reasoner',
 'Domain-Theory ',
 ' ',
 ' ',
 '202 ',
 ' ',
 '1994 ',
 'Multiple Features',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '2000 ',
 '649 ',
 ' ',
 'Mushroom',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '8124 ',
 '22 ',
 '1987 ',
 'Musk (Version 1)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '476 ',
 '168 ',
 '1994 ',
 'Musk (Version 2)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '6598 ',
 '168 ',
 '1994 ',
 'Nursery',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '12960 ',
 '8 ',
 '1997 ',
 'Othello Domain Theory',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1991 ',
 'Page Blocks Classification',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '5473 ',
 '10 ',
 '1995 ',
 'Optical Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '5620 ',
 '64 ',
 '1998 ',
 'Pen-Based Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '10992 ',
 '16 ',
 '1998 ',
 'Post-Operative Patient',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '90 ',
 '8 ',
 '1993 ',
 'Primary Tumor',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '339 ',
 '17 ',
 '1988 ',
 'Prodigy',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Qualitative Structure Activity Relationships',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Quadruped Mammals',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 ' ',
 '72 ',
 '1992 ',
 'Servo',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '167 ',
 '4 ',
 '1993 ',
 'Shuttle Landing Control',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '15 ',
 '6 ',
 '1988 ',
 'Solar Flare',
 'Multivariate ',
 'Regression ',
 'Categorical ',
 '1389 ',
 '10 ',
 '1989 ',
 'Soybean (Large)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '307 ',
 '35 ',
 '1988 ',
 'Soybean (Small)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '47 ',
 '35 ',
 '1987 ',
 'Challenger USA Space Shuttle O-Ring',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '23 ',
 '4 ',
 '1993 ',
 'Low Resolution Spectrometer',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '531 ',
 '102 ',
 '1988 ',
 'Spambase',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '4601 ',
 '57 ',
 '1999 ',
 'SPECT Heart',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '267 ',
 '22 ',
 '2001 ',
 'SPECTF Heart',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '267 ',
 '44 ',
 '2001 ',
 'Sponge',
 'Multivariate ',
 'Clustering ',
 'Categorical, Integer ',
 '76 ',
 '45 ',
 ' ',
 'Statlog Project',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1992 ',
 'Student Loan Relational',
 'Domain-Theory ',
 ' ',
 ' ',
 '1000 ',
 ' ',
 '1993 ',
 'Teaching Assistant Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '151 ',
 '5 ',
 '1997 ',
 'Tic-Tac-Toe Endgame',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '958 ',
 '9 ',
 '1991 ',
 'Thyroid Disease',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real ',
 '7200 ',
 '21 ',
 '1987 ',
 'Trains',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '10 ',
 '32 ',
 '1994 ',
 'University',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '285 ',
 '17 ',
 '1988 ',
 'Congressional Voting Records',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '435 ',
 '16 ',
 '1987 ',
 'Water Treatment Plant',
 'Multivariate ',
 'Clustering ',
 'Integer, Real ',
 '527 ',
 '38 ',
 '1993 ',
 'Waveform Database Generator (Version 1)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '21 ',
 '1988 ',
 'Waveform Database Generator (Version 2)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '40 ',
 '1988 ',
 'Wine',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '178 ',
 '13 ',
 '1991 ',
 'Yeast',
 'Multivariate ',
 'Classification ',
 'Real ',
 '1484 ',
 '8 ',
 '1996 ',
 'Zoo',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '101 ',
 '17 ',
 '1990 ',
 'Undocumented',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Twenty Newsgroups',
 'Text ',
 ' ',
 ' ',
 '20000 ',
 ' ',
 '1999 ',
 'Australian Sign Language signs',
 'Multivariate, Time-Series ',
 'Classification ',
 'Categorical, Real ',
 '6650 ',
 '15 ',
 '1999 ',
 'Australian Sign Language signs (High Quality)',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '2565 ',
 '22 ',
 '2002 ',
 'US Census Data (1990)',
 'Multivariate ',
 'Clustering ',
 'Categorical ',
 '2458285 ',
 '68 ',
 ' ',
 'Census-Income (KDD)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '299285 ',
 '40 ',
 '2000 ',
 'Coil 1999 Competition Data',
 'Multivariate ',
 ' ',
 'Categorical, Real ',
 '340 ',
 '17 ',
 '1999 ',
 'Corel Image Features',
 'Multivariate ',
 ' ',
 'Real ',
 '68040 ',
 '89 ',
 '1999 ',
 'E. Coli Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'EEG Database',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer, Real ',
 '122 ',
 '4 ',
 '1999 ',
 'El Nino',
 'Spatio-temporal ',
 ' ',
 'Integer, Real ',
 '178080 ',
 '12 ',
 '1999 ',
 'Entree Chicago Recommendation Data',
 'Transactional, Sequential ',
 'Recommender-Systems ',
 'Categorical ',
 '50672 ',
 ' ',
 '2000 ',
 'CMU Face Images',
 'Image ',
 'Classification ',
 'Integer ',
 '640 ',
 ' ',
 '1999 ',
 'Insurance Company Benchmark (COIL 2000)',
 'Multivariate ',
 'Regression, Description ',
 'Categorical, Integer ',
 '9000 ',
 '86 ',
 '2000 ',
 'Internet Usage Data',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '10104 ',
 '72 ',
 '1999 ',
 'IPUMS Census Database',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '256932 ',
 '61 ',
 '1999 ',
 'Japanese Vowels',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '640 ',
 '12 ',
 ' ',
 'KDD Cup 1998 Data',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '191779 ',
 '481 ',
 '1998 ',
 'KDD Cup 1999 Data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '4000000 ',
 '42 ',
 '1999 ',
 'M. Tuberculosis Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'Movie',
 'Multivariate, Relational ',
 ' ',
 ' ',
 '10000 ',
 ' ',
 '1999 ',
 'MSNBC.com Anonymous Web Data',
 'Sequential ',
 ' ',
 'Categorical ',
 '989818 ',
 ' ',
 ' ',
 'NSF Research Award Abstracts 1990-2003',
 'Text ',
 ' ',
 ' ',
 '129000 ',
 ' ',
 '2003 ',
 'Pioneer-1 Mobile Robot Data',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Real ',
 ' ',
 ' ',
 '1999 ',
 'Pseudo Periodic Synthetic Time Series',
 'Univariate, Time-Series ',
 ' ',
 ' ',
 '100000 ',
 ' ',
 '1999 ',
 'Reuters-21578 Text Categorization Collection',
 'Text ',
 'Classification ',
 'Categorical ',
 '21578 ',
 '5 ',
 '1997 ',
 'Robot Execution Failures',
 'Multivariate, Time-Series ',
 'Classification ',
 'Integer ',
 '463 ',
 '90 ',
 '1999 ',
 'Synthetic Control Chart Time Series',
 'Time-Series ',
 'Classification, Clustering ',
 'Real ',
 '600 ',
 ' ',
 '1999 ',
 'Syskill and Webert Web Page Ratings',
 'Multivariate, Text ',
 'Classification ',
 'Categorical ',
 '332 ',
 '5 ',
 '1998 ',
 'UNIX User Data',
 'Text, Sequential ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Volcanoes on Venus - JARtool experiment',
 'Image ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Statlog (Australian Credit Approval)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '14 ',
 ' ',
 'Statlog (German Credit Data)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1000 ',
 '20 ',
 '1994 ',
 'Statlog (Heart)',
 'Multivariate ',
 'Classification ',
 'Categorical, Real ',
 '270 ',
 '13 ',
 ...]

In [50]:
data_types=[]
for i in range(9,len(raw)-1,7):
    data_types.append(raw[i])
len(data_types)

588

In [49]:
task=[]
for i in range(10,len(raw)-1,7):
    task.append(raw[i])
len(task)

588

In [48]:
attribute_types=[]
for i in range(11,len(raw)-1,7):
    attribute_types.append(raw[i])
len(attribute_types)

588

In [47]:
no_of_instances=[]
for i in range(12,len(raw)-1,7):
    no_of_instances.append(raw[i])
len(no_of_instances)

588

In [46]:
attributes=[]
for i in range(13,len(raw)-1,7):
    attributes.append(raw[i])
len(attributes)

588

In [45]:
year=[]
for i in range(14,len(raw)-1,7):
    year.append(raw[i])
len(year)

588

CREATING DATAFRAME FOR THE SCRAPED DATA

In [51]:
import pandas as pd
uci=pd.DataFrame()
uci['INDEX']=range(1,len(year)+1)
uci['DATASET_NAME']=name
uci['DATASET_TYPE']=data_types
uci['TASK']=task
uci['ATTRIBUTE_TYPE']=attribute_types
uci['NO_OF_INSTANCES']=no_of_instances
uci['NO_OF_ATTRIBUTES']=attributes
uci['YEAR']=year
uci.set_index('INDEX',inplace=True)
uci

,DATASET_NAME,DATASET_TYPE,TASK,ATTRIBUTE_TYPE,NO_OF_INSTANCES,NO_OF_ATTRIBUTES,YEAR
INDEX,,,,,,,
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

FINAL DATASET CONTAINING DATA SCRAPED FROM UCI ML REPOSITORY